header{
    color:white;
    font-family: 'Holtwood One SC', serif;
    background-image:linear-gradient(rgb(60, 41, 223), rgb(18, 56, 138))
}

.card-body{
    background-color: rgb(24, 64, 97);
    color:white;
}

.uvClass{
    padding:5px;
    border-radius: 10%;
    background-color:transparent;
}

.cityNames{
text-align: center;
padding-right: 30px;
padding-left: 30px;
padding-top: 5px;
padding-bottom: 5px; 
background-color: lightgrey;
border-radius: 5px;
margin-left: 0px;
} 

#listCities{
padding-right: 30px;
padding-left: 30px;
}

.searchBtn{
    width : 100%;
}

